html, body{
    display: flex;
    justify-content: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: rgb(255, 255, 245);
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    padding: 1vh;
    font-size: 2vh;
    box-shadow: 0 0.1vh 0.5vh rgba(0, 0, 0, 0.2);
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    padding: 1vh;
    font-size: 2vh;
    box-shadow: 0 -0.1vh 0.5vh rgba(0, 0, 0, 0.2);
}

#main{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    border: solid 5px black;
    border-radius: 10px;
    background-color:rgb(234, 239, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-button{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 4vh;
    width: 70%;
    border: none;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0 0 1vh rgb(154, 148, 148);
}